<a href="https://colab.research.google.com/github/caltunay/dd-umg/blob/master/UN_mdg_dd_top_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DrivenData - Competition - UN Millennium Goals/data/TrainingSet.csv').drop(labels = 'Unnamed: 0', axis = 1)

In [0]:
df.columns

Index(['1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       'Country Name', 'Series Code', 'Series Name'],
      dtype='object')

In [0]:
to_melt = ['1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]']

In [0]:
df = pd.melt(frame = df, id_vars = ['Country Name', 'Series Code', 'Series Name'], value_vars = to_melt, var_name = 'Year')

In [0]:
df.head()

  Country Name    Series Code  ...           Year value
0  Afghanistan    allsi.bi_q1  ...  1972 [YR1972]   NaN
1  Afghanistan    allsp.bi_q1  ...  1972 [YR1972]   NaN
2  Afghanistan    allsa.bi_q1  ...  1972 [YR1972]   NaN
3  Afghanistan  allsi.gen_pop  ...  1972 [YR1972]   NaN
4  Afghanistan  allsp.gen_pop  ...  1972 [YR1972]   NaN

[5 rows x 5 columns]

In [0]:
df['Year']=df['Year'].transform(lambda x : str(x)[:4])

In [0]:
df['Year'] = df['Year'].transform(lambda x:str(x)[0:4])

In [0]:
df.head()

  Country Name    Series Code  ...  Year value
0  Afghanistan    allsi.bi_q1  ...  1972   NaN
1  Afghanistan    allsp.bi_q1  ...  1972   NaN
2  Afghanistan    allsa.bi_q1  ...  1972   NaN
3  Afghanistan  allsi.gen_pop  ...  1972   NaN
4  Afghanistan  allsp.gen_pop  ...  1972   NaN

[5 rows x 5 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034472 entries, 0 to 7034471
Data columns (total 5 columns):
Country Name    object
Series Code     object
Series Name     object
Year            object
value           float64
dtypes: float64(1), object(4)
memory usage: 268.3+ MB

In [0]:
df['date'] = pd.to_datetime(dict(year = df['Year'], day = 31, month = 12))

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034472 entries, 0 to 7034471
Data columns (total 6 columns):
Country Name    object
Series Code     object
Series Name     object
Year            object
value           float64
date            datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 322.0+ MB

In [0]:
df.head()

  Country Name    Series Code  ...       date                          id
0  Afghanistan    allsi.bi_q1  ... 1972-12-31    Afghanistan||allsi.bi_q1
1  Afghanistan    allsp.bi_q1  ... 1972-12-31    Afghanistan||allsp.bi_q1
2  Afghanistan    allsa.bi_q1  ... 1972-12-31    Afghanistan||allsa.bi_q1
3  Afghanistan  allsi.gen_pop  ... 1972-12-31  Afghanistan||allsi.gen_pop
4  Afghanistan  allsp.gen_pop  ... 1972-12-31  Afghanistan||allsp.gen_pop

[5 rows x 7 columns]

In [0]:
!pip install fbprophet
from fbprophet import Prophet

Requirement already satisfied: fbprophet in /usr/local/lib/python3.6/dist-packages (0.5)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.16.5)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: holidays>=0.9.5 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.9.11)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.24.2)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.1.3)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (3.0.3)
Requirement already satisfied: lunardate>=0.1.5 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.2.0)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.19.0.0)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.29.13)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from holidays>=0.9.5->fbprophet) (2.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from holidays>=0.9.5->fbprophet) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->fbprophet) (2018.9)
Requirement already satisfied: ephem<3.8,>=3.7.5.3 in /usr/local/lib/python3.6/dist-packages (from convertdate>=2.1.2->fbprophet) (3.7.7.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (2.4.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (41.2.0)

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df['id'] = df['Country Name'] + '||' + df['Series Code']

In [0]:
ids = df['id'].value_counts().index.tolist()

In [0]:
df['Year'].max()

'2007'

In [0]:
final = pd.DataFrame(columns = ['ds','yhat','id'])

for i in submis_rows:
    
    # slice for id and arrange for Prophet 
    temp_df = df[df['id'] == i][['date','value']].reset_index(drop = True).rename(columns = {'date':'ds','value':'y'})
    
    # ffill if only not null and not last in df
    if temp_df['y'].notnull().sum() < 2:
        try:
            temp_df = temp_df.bfill()
        except:
            temp_df = temp_df.ffill()
    # else prophet will interpolate anyway
    
    # create prophet model
    temp_model = Prophet()
    temp_model.fit(temp_df)
    
    # make prediction and take only yhat
    temp_empty_forecast_df = temp_model.make_future_dataframe(periods = 5, freq = 'A')
    temp_forecast = temp_model.predict(temp_empty_forecast_df)
    
    # add column of id
    temp_forecast['id'] = i
    temp_forecast = temp_forecast[['ds','yhat','id']]

    # add to result df 
    final = pd.concat([final,temp_forecast], axis = 0)

In [0]:
final.reset_index(drop = True, inplace = True)

In [0]:
final.to_csv('final.csv')

In [0]:
final.head()

          ds      yhat                id
0 1972-12-31 -0.568345  Afghanistan||7.8
1 1973-12-31 -0.539743  Afghanistan||7.8
2 1974-12-31 -0.508853  Afghanistan||7.8
3 1975-12-31 -0.475679  Afghanistan||7.8
4 1976-12-31 -0.453777  Afghanistan||7.8

In [0]:
submis_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DrivenData - Competition - UN Millennium Goals/data/SubmissionRows.csv')
submis_df.head()

   Unnamed: 0  2008 [YR2008]  2012 [YR2012]
0         559            NaN            NaN
1         618            NaN            NaN
2         753            NaN            NaN
3        1030            NaN            NaN
4        1896            NaN            NaN

In [0]:
submis_df2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DrivenData - Competition - UN Millennium Goals/data/SubmissionRows.csv')
submis_df2.head()

   Unnamed: 0  2008 [YR2008]  2012 [YR2012]
0         559            NaN            NaN
1         618            NaN            NaN
2         753            NaN            NaN
3        1030            NaN            NaN
4        1896            NaN            NaN

In [0]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DrivenData - Competition - UN Millennium Goals/data/TrainingSet.csv')
train.head()

   Unnamed: 0  ...                                        Series Name
0           0  ...  (%) Benefits held by 1st 20% population - All ...
1           1  ...  (%) Benefits held by 1st 20% population - All ...
2           2  ...  (%) Benefits held by 1st 20% population - All ...
3           4  ...             (%) Generosity of All Social Insurance
4           5  ...            (%) Generosity of All Social Protection

[5 rows x 40 columns]

In [0]:
train['id'] = train['Country Name'] + '||' + train['Series Code']

In [0]:
train.head(2)

   Unnamed: 0  ...                        id
0           0  ...  Afghanistan||allsi.bi_q1
1           1  ...  Afghanistan||allsp.bi_q1

[2 rows x 41 columns]

In [0]:
# submis_df.join(train, on = 'Unnamed: 0', how = 'left')

submis_df = pd.merge(left = submis_df, right = train, on = 'Unnamed: 0', how = 'left')[['Unnamed: 0', '2008 [YR2008]', '2012 [YR2012]', 'id']]

In [0]:
submis_rows = submis_df['id'].unique().tolist()